apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  ports:
    - port: 80
      name: http
  type: LoadBalancer
  selector:
    app: web
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: url-shortener
          ports:
            - containerPort: 80
